{{!-- <h3 class="text-center">Loading...</h3>
<p class="text-center">The movie item is loading. Please wait.</p> --}}


<div class="position-fixed top-50 start-50 translate-middle">
  <div class="spinner-border text-info" role="status"></div>
</div>


{{outlet}}